<h2>All Orders</h2>

<div class="table">
	<div class="row">
	<div class="col-md-10  table-head">
		<div class="col-md-1">No.</div>
		<div class="col-md-2">Order Date</div>
		<div class="col-md-3">Order Details</div>
		<div class="col-md-2">Grand Total</div>
		<div class="col-md-2">Grand Total</div>
	</div>
		<div class="col-md-2"></div>
	</div>
	
		<% @orders.each do |order| %>
			<% if order.grand_total != nil %>
				<div class="row">
				<div class="col-md-10 table-body">
					<div class="col-md-1"><%= order.id %></div>
					<div class="col-md-2"><%= order.updated_at %></div>
					<div class="col-md-3 order-item">
						<% order.order_items.each do |id, quantity| %>
							<li><%= link_to Product.find(id).name, product_path(id), class: "btn-link" %> (Qty: <%= quantity %>) </li>
						<% end %>				
					</div>
					<div class="col-md-2"><%= number_to_currency order.grand_total %></div>
					<div class="col-md-2"><%= order.status %></div>
				</div>
					<div class="col-md-2"></div>
				</div>
			<% end %>
		<% end %>
		
</div>