<h2>My Cart</h2>

<div class="table">
	<div class="row">
	<div class="col-md-8 table-head">
		<div class="col-md-3">Item</div>
		<div class="col-md-3">Price</div>
		<div class="col-md-3">Qty</div>
		<div class="col-md-3">Subtotal</div>
	</div>
		<div class="col-md-4"></div>
	</div>
	
		<% @line_items.each do |line_item| %>
		<div class="row">
		<div class="col-md-8 table-body">
			<div class="col-md-3"><%= link_to Product.find(line_item.product_id).name, product_path(line_item.product_id), class: "btn-link" %></div>
			<div class="col-md-3"><%= number_to_currency line_item.product.price %></div>
			<div class="col-md-3"><%= line_item.quantity %></div>
			<div class="col-md-3"><%= number_to_currency line_item.line_item_total %></div>
		</div>
			<div class="col-md-4"></div>
		</div>
		<% end %>
		
</div>

<div class ="checkout">
  <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success", style: "color: #fff" %>
</div>